*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
font-size: 62.5%;
}

:root{
  --primary: lightseagreen;
  --white: #fff;
  --grey: rgb(204, 204, 204);
  --red: crimson;
  --myfont: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--primary);
}